# Please adapt and uncomment the following lines:
name = Dustin Drab
email = drab.dustin@athenamfg.com

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv/
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Data folders (adjust to your setup)
data_raw/
data_real/
data_cleaned/
